<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Kariboo | Analog Electronic</title>
    <meta name="description" content="Creating specific analog and numeric electronic design for personel and professional uses.">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/startup-materialize.min.css">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
      <nav class="navbar absolute">
      <div class="nav-wrapper">
        <a href="horizontal-half.html" class="brand-logo"><i class="icon-diamond"></i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li class="active"><a class="dropdown-button" href="#!" data-activates="pages" data-constrainWidth="false" data-belowOrigin="true">Projects<i class="material-icons right">arrow_drop_down</i></a></li>
          <li><a href="https://blog.kariboo.cc">Blog</a></li>
          <li><a href="{{ path_for("whoami") }}">Whoami ?</a></li>
          <li><a href="{{ path_for("contact_us") }}">Contact</a></li>
        </ul>

        <ul id="pages" class="dropdown-content">
          <li><a href="{{ path_for('project_render', {'project_id' : 'audio-pro'}) }}">Audio PRO</a></li>
          <li><a href="{{ path_for('project_render', {'project_id' : 'i-sound-bar-one'}) }}">iSound Bar One</a></li>
          <li><a href="{{ path_for('project_render', {'project_id' : 'i-lamp'}) }}">iLamp</a></li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse right"><i class="material-icons white-text">menu</i></a>
      </div>
    </nav>
    <ul id="slide-out" class="side-nav">
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li class="bold">
            <a class="collapsible-header waves-effect waves-teal active">Projects</a>
            <div class="collapsible-body">
              <ul>
                <li><a href="{{ path_for('project_render', {'project_id' : 'audio-pro'}) }}">Audio PRO</a></li>
                <li><a href="{{ path_for('project_render', {'project_id' : 'i-sound-bar-one'}) }}">iSound Bar One</a></li>
                <li><a href="{{ path_for('project_render', {'project_id' : 'i-lamp'}) }}">iLamp</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li><a class="waves-effect waves-teal" href="//blog.kariboo.cc">Blog</a></li>
      <li><a class="waves-effect waves-teal" href="{{ path_for("whoami") }}">Whoami ?</a></li>
      <li><a class="waves-effect waves-teal" href="">Contact</a></li>
    </ul>
{% block content %}

{% endblock %}
    <!-- Footer -->
    <footer class="page-footer shuffle-under-transition">
      <div class="container">
        <div class="row">
          <div class="col s6 m3">
            <img class="materialize-logo" src="images/materialize-teal.png" alt="">
            <p>Made with love by Materialize.</p>
          </div>
          <div class="col s6 m3">
            <h5>About</h5>
            <ul>
              <li><a href="//blog.kariboo.cc">Blog</a></li>
              <li><a href="#!">Pricing</a></li>
              <li><a href="#!">Docs</a></li>
            </ul>
          </div>
          <div class="col s6 m3">
            <h5>Connect</h5>
            <ul>
              <li><a href="//blog.kariboo.cc">Community</a></li>
              <li><a href="#!">Subscribe</a></li>
              <li><a href="mailto:contact@kariboo.cc">Email</a></li>
            </ul>
          </div>
          <div class="col s6 m3">
            <h5>Contact</h5>
            <ul>
                <li><a href="https://instagram.com/eg_julien">@eg_julien</a></li>
                <li><a href="https://www.facebook.com/karyboooo">Karyboooo_fb</a></li>
                <li><a href="https://github.com/EG-Julien">Github</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="js/materialize.min.js"></script>

    <!-- External libraries -->
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/TweenMax.min.js"></script>
    <script src="js/ScrollMagic.min.js"></script>
    <script src="js/animation.gsap.min.js"></script>

    <!-- Initialization script -->
    <script src="js/startup.js"></script>
    <script src="js/init.js"></script>
  </body>
</html>